*{
    margin: 0;
    padding: 0;
}
body a:visited , body a:link{
    color: #664527;
}
body{
    color: #664527;
}
header h1{
    text-align: center;
    font-size: 8rem;
}
header h5{
    display: flex;
    justify-content: end;
    padding-right: 1rem;
    width: 5rem;
    margin-left: 37rem;
}
header h5 :hover{
    color: #664527;
}
nav{
    background-color: rgb(247, 247, 247);
    height: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 1rem;
    position: sticky;
    z-index: 1;
    top:0;
}
.locationInfo{
    background-color: #F3E3D3;
    height: 22rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.neighborhood :first-child{
    font-size: 40px;
    width: 20rem;
    margin-left: 18rem;
    margin-top: 3rem;
}
.neighborhood :last-child{
    width: 35rem;
    line-height: 25px;
    margin-left: 10rem;
    margin-top: 3rem;
}
.mapPic{
    width: 26rem;
    margin-right: 3rem;
}
.mapPic img{
    width: 100%;
    height: 100%;
}
.apartmentPictures{
    height: 30rem;
    display: flex;
    justify-content: center;
}
.apartmentPictures ul{
    background-color: #664527;
    height: 33rem;
    scroll-snap-type: x mandatory;
    list-style: none;
}
.apartmentPictures ::-webkit-scrollbar {
    display: none;
}
.carruselPic{
    display: flex;
    gap: 35px;
    overflow: auto;
}
.carruselPic img{
    background-color: rgb(255, 255, 255);
    width: 23rem;
    height: 26.9rem;
    margin-top: 2rem;
    margin-left: 1.3rem;
    object-fit: contain;
    scroll-snap-align: center;
    border-radius: 5%;
}
.apartmentPictures ul :last-child {
    margin-right: 1.3rem;
}
.apartmentPictures p{
    color: white;
    width: 23rem;
    margin-left: 1.3rem;
    text-align: center;
}
.equipment{
    background-color: #BCCCC2;
    margin-top: 3.02rem;
    height: 27rem;
    display: flex;
    flex-direction: row;
}
.equipmentPic{
    background-color: pink;
    width: 15rem;
    height: 20rem;
    border-radius: 90px 90px 0px 0px;
    border-style: solid;
    border-color: #8c1842;
    border-width: 4px;
    margin-top: 4rem;
    margin-left: 1rem;
}
.equipmentPic img{
    width: 100%;
    height: 100%;
    border-radius: 90px 90px 0px 0px;
    object-fit:fill;
}
.textEquipment p{
    background-color: rgb(247, 247, 247);
    width: 13.8rem;
    margin-top: 15rem;
    margin-left: 1.1rem;   
}
.expectations{
    background-color: #345D4F;
    width: 100%;
    height: 25rem;
    color: rgb(228, 197, 172);
}
.expectations div{
    width: 95%;
    height: 100%;
    margin-left: 2rem;
    display: flex;
    flex-direction: row;
    gap: 5rem;
}
.expectations ul{
    border-style:double;
    border-color:goldenrod;
    list-style: none;
    width: 95%;
    height: 22.8rem;
    margin-top: 1rem;
}
.expectations p{
    text-align: center;
    font-size: 30px;
    margin-top: 2rem;
}
.expectations li{
    width: 60%;
    margin-top: 1rem;
    margin-left: 7rem;
}
footer{
    background-color: #F3E3D3;
    height: 10rem;
}
footer p{
    color: #664527;
    text-align: center;
    padding-top: 1.5rem;
    font-size: 20px;
}
.contactInfo{
    height: 4rem;
    margin-top: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}






