*{
    margin: 0;
    padding: 0;
}
body a:visited , body a:link{
    color: #664527;
}
body{
    color: #664527;
}
a.anchor {
    display: block;
    position: relative;
    top: -3rem;
    visibility: hidden;
}
header{
    background-color: #ffffff;
}
header h1{
    text-align: center;
    font-size: 8rem;
}
header h5{
    width: 5rem;
    margin-left: 73rem;
    color:#090700;
    border-style: solid;
    border-width: 7px;
    border-color: #f3f3f3;
    text-align: center;
}
nav{
    background-color: #f3f3f3;
    height: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 1rem;
    position: sticky;
    z-index: 1;
    top:0;
    box-shadow: #f3f3f3 0px 1px 4px 0px;
}
#locationInfo{
    background-color: #ebe7e4;
    height: 22rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.neighborhood :first-child{
    font-size: 40px;
    width: 20rem;
    margin-left: 18rem;
    margin-top: 5rem;
}
.neighborhood :last-child{
    width: 35rem;
    line-height: 25px;
    margin-left: 10rem;
    margin-top: 3rem;
}
.mapPic{
    width: 26rem;
    margin-right: 3rem;
    margin-top: 5vh;
}
.mapPic img{
    width: 100%;
    height: 100%;
}
#apartmentPictures{
    height: 30rem;
    display: flex;
    justify-content: center;
}
#apartmentPictures ul{
    background-color: #ffffff;
    height: 33rem;
    scroll-snap-type: x mandatory;
    list-style: none;
}
#apartmentPictures ::-webkit-scrollbar {
    display: none;
}
.carruselPic{
    display: flex;
    gap: 35px;
    overflow: auto;
    position: relative;
    text-align: center;
}
.carruselPic img{
    background-color: rgb(255, 255, 255);
    width: 23rem;
    height: 26.9rem;
    margin-top: 2rem;
    margin-left: 1.3rem;
    object-fit: contain;
    scroll-snap-align: center;
    border-radius: 5%;
}
#apartmentPictures ul :last-child {
    margin-right: 1.3rem;
}
#apartmentPictures p{
    width: 23rem;
    margin-left: 1.3rem;
    text-align: center;
}
#equipment{
    background-color: #c8c0b7;
    margin-top: 3.02rem;
    height: 27rem;
    display: flex;
    flex-direction: row;
}
.equipmentPic{
    width: 15rem;
    height: 20rem;
    border-radius: 90px 90px 0px 0px;
    border-style: solid;
    border-color: #ac9ca4;
    border-width: 4px;
    margin-top: 4rem;
    margin-left: 1rem;
}
.equipmentPic img{
    width: 100%;
    height: 100%;
    border-radius: 85px 85px 0px 0px;
    object-fit:fill;
}
.textEquipment p{
    background-color: rgb(247, 247, 247);
    width: 13.8rem;
    margin-top: 15rem;
    margin-left: 1.1rem;  
    border-radius: 5%; 
}
#expectations{
    background-color: #ac9ca4;
    width: 100%;
    height: 25rem;
}
#expectations div{
    width: 95%;
    height: 100%;
    margin-left: 2rem;
    display: flex;
    flex-direction: row;
    gap: 5rem;
}
#expectations ul{
    border-style:double;
    border-color:#000000;
    list-style: none;
    width: 95%;
    height: 22.8rem;
    margin-top: 1rem;
    background-color: #ebe7e4;
}
#expectations p{
    text-align: center;
    font-size: 30px;
    margin-top: 2rem;
}
#expectations li{
    width: 60%;
    margin-top: 1rem;
    margin-left: 7rem;
}
footer{
    background-color: #ffffff;
    height: 10rem;
}
footer p{
    text-align: center;
    padding-top: 1.5rem;
    font-size: 20px;
}
.contactInfo{
    height: 4rem;
    margin-top: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
